@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* font-family: 'Hind Siliguri', sans-serif;
font-family: 'Lora', serif; */

.about{
    margin: 1rem;
    padding: 1rem;
    background-color: white;
}

.about__heading{
    font-family: 'Lora', serif;
}

.about__details{
    font-size: 17px;
    font-family: 'Hind Siliguri', sans-serif;
}