@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

.msg__container {
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 10px 25px 10px;
  padding: 10px;
  background-color: rgb(0, 196, 0);
  color: white;
}

.inner__container{
    background-color: white;
    margin: auto;
    max-width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inner__container img{
    justify-content: center;
    width: 200px;
}

.inner__container h3{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.arrows{
    display: flex;
    max-width: 200px;
    margin: auto;
}

.arrows img{
    width: 40px;
    margin: 2px 8px 10px 8px;
}

.inner__container button{
    background-color: royalblue;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
    border: 1px solid rgb(99, 192, 255);
    box-shadow: 1px 1px 3px black;
}

.inner__container button:hover{
    background-color: rgb(0, 37, 146);
}