@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&display=swap');


.header{
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 20, 67);
    padding: 10px ;
}

.header__left{
    text-decoration: none;
    font-size: 23px;
    font-family: 'Staatliches', cursive;
    color: white;
}

.header__right{
    display: flex;
    justify-content: space-between;
}

.app__button{
    margin-right: 5px;
    padding: 2px 5px;
    background-color:rgb(255, 20, 67);
    color: white;
    border: 2px solid white;
    font-family: 'Hind Madurai', sans-serif;
}